/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/nbproject
/codestyles
/*.xml
/.idea
/.vscode
/.vagrant
!phpunit.xml
.env
.phpstorm.meta.php
Homestead.json
Homestead.yaml
npm-debug.log
deploy.php
yarn-error.log
composer.lock
error_log
_*
